:root {
    /* Primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients colors */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: hankenGrotesk;
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: hankenGrotesk;
}

p {
    font-size: 18px;
}

h1 {
    font-weight: 800;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 100vh;
}

.card {
    width: 100%;
    max-width: 610px;
    display: flex;
    box-shadow: 2px 2px 8px var(--pale-blue);
    border-radius: 20px;
}

.card-result {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: center;
    padding: 2.5rem 2rem;
    border-radius: 20px;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.card-result p {
    color: var(--pale-blue);
}

.card-result-title {
    margin-bottom: 25px;
    color: var(--light-lavender);
    font-weight: 600;
}

.card-result-score {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    background: linear-gradient(var(--violet-blue), var(--light-royal-blue));
}

.card-result-score small {
    color: var(--light-lavender);
    font-weight: 500;
}

.card-result-score h1 {
    font-size: 3.5rem;
    color: var(--white);
}

.card-result h3 {
    color: var(--white);
    margin-bottom: 15px;
}

.card-summary {
    flex-basis: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}


.card-summary button {
    padding: 0.9rem .5rem;
    border-radius: 25px;
    color: var(--white);
    background: var(--dark-gray-blue);
    outline: none;
    border: none;
    transition: .1s;
    font-weight: 600;
}
.card-summary button:hover{
    background: transparent;
    border: 1px solid var(--dark-gray-blue);
    color: var(--dark-gray-blue);
}

.card-summary button:active{
    transform: scale(0.95);
}

#card-summary-list-parent {
    padding: 15px 0;
}

#card-summary-list-parent li {
    display: flex;
    justify-content: space-between;
    padding: .8rem .5rem;
    margin-bottom: 15px;
    border-radius: 5px;
}

.list-icon-category {
    display: flex;

}

.list-icon-category .icon {
    margin-right: 8px;
}


.full-mark {
    color: #46444493;

}

.get-mark {
    color: var(--dark-gray-blue);
}

/* Define CSS classes for different background colors */
.list-item-1 {
    background-color: #ffcccc;
    color: var(--light-red);
}

.list-item-2 {
    background-color: #f6ffcc;
    color: var(--orangey-yellow);
}

.list-item-3 {
    background-color: #ccffcc;
    color: var(--green-teal);

}

.list-item-4 {
    background-color: #ccdcff;
    color: var(--cobalt-blue);
}

@media screen and (max-width: 600px) {
    .card {
        flex-direction: column;
        box-shadow: none;
    }

    .card-result {
        margin-top: -45px;
    }

    .card-result-title {
        padding: 10px 0px;
    }
}