:root {
    /* Primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients colors */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: hankenGrotesk;
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: hankenGrotesk;
}

p {
    font-size: 18px;
}

h1 {
    font-weight: 800;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 100vh;
}

.card{
    width: 100%;
    max-width: 610px;
    display: flex;
}

.card-result{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.card-summary{
    flex-basis: 50%;
}