/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root{
    /* primary colors */
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    /* neutral colors */
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background: var(--soft-blue);
    color: #fff;
    border-radius: 3px;
    transition: ease-in-out .2s;
    font-weight: 500;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.96);
}

.btn:hover {
    border: 1px solid var(--soft-blue);
    background: transparent;
    color: var(--soft-blue);
}

/* header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}


.nav-links {
    display: inline-flex;
}

.nav-links li a{
    display: inline-block;
    padding: .5rem 1rem;
}

.nav-links li:last-child .btn{
    background: var(--soft-red);

}

.nav-links li:last-child .btn:hover {
    color: var(--soft-red);
    background: transparent;
    border: 1px solid var(--soft-red);
}


/* hero section */
.hero-section {
    display: flex;
    align-items: center;
    padding: 7rem 0;
    justify-content: space-between;
}

.hero-child {
    flex-basis: 45%;
}

.hero-child h1 {
    font-size: 2.5rem;
    max-width: 85%;
}

.hero-child p {
    max-width: 80%;
    margin: 1rem 0;
    line-height: 25px;
}


.hero-child img {
    width: 100%;
}

.hero-btn-parent {
    display: flex;
}

.hero-btn-parent .btn-firefox {
    color: var(--very-dark-blue);
    background: #fff;
    box-shadow: 1px 1px 2px rgb(180, 179, 179);
    margin-left: 1.5rem;
}



/* footer */
footer {
    background: var(--very-dark-blue);
    padding: 1.5rem 0rem;
}

.inner-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-links {
    display: inline-flex;
    margin-left: 3rem;
}

.footer-links li a {
    padding: .5rem 1rem;
    color: #fff;
}

.footer-social-links a {
    font-size: 1.5rem;
    color: #fff;
    padding: 0 1rem;
}